body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  width: 400px;
}

h1{
  width: fit-content;
}

ul{
  width: fit-content;
}

.MainContent{
  margin: auto;
  width: fit-content;
}

.MainContent h2{
  width: fit-content;
}

.active{
  background-color: lightblue;
}

#validation{
  margin: auto;
}